.body {
  font-family: Arial, sans-serif;
  /* background: #f5f5f5; */
  display: flex;
  justify-content: center;
  padding: 20px;
}
.carousel-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}


.carousel-track {
  display: flex;
  transition: transform 0.4s ease;
}

.card {
  flex: 0 0 33.333%; /* 3 cards desktop */
  min-width: 400px;
  min-height: 250px;
  margin: 0 10px;
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
  box-sizing: border-b
}

.card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.arrow {
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  background: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  z-index: 10;
}

.arrow.left {
  left: 5px;
}

.arrow.right {
  right: 5px;
}


.arrow:hover {
  background: #555;
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.info h4 {
  margin: 0;
  font-size: 16px;
}

.info small {
  color: gray;
}
.info h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.info small {
  color: #777;
  font-size: 13px;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.carousel-controls button {
  padding: 10px 20px;
  border: none;
  background: #333;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
}

.carousel-controls button:hover {
  background: #555;
}

@media (max-width: 900px) {
  .card {
    flex: 0 0 50%; /* 2 cards */
    padding: 10px;
  
}

}

@media (max-width: 600px) {
  .card {
    flex: 0 0 100%; /* 1 card */
    padding: 10px;
  }
}


